@import url('https://fonts.googleapis.com/css?family=Creepster');

#div1{
	margin:auto;
	border: 2px solid grey;
	width: 50%;
	height:300px;
	background-color: white;

	}
	#title{
		color:white;
		font-family: 'Creepster',cursive;
	}
.button:hover{
 color:green; 
  background-color: white;
  
}
#text{
  width:40%;
}